<div class="animate__animated animate__fadeIn animate_faster">
  <div class="p-grid">
    <div class="p-col-12 p-md-12">
      <h2>Por Capital</h2>
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar país..."
      ></app-pais-input>
    </div>
  </div>
  <p-card *ngIf="mostrarSugerencias" class="p-d-inline-flex">
    <div *ngFor="let pais of paisesSugeridos">
      <button
        pButton
        class="p-button-link"
        [routerLink]="['/pais', pais.alpha2Code]"
      >
        {{ pais.capital }}
      </button>
    </div>
    <div (click)="buscarSugerido(termino)">
      <button pButton class="p-button-link">Buscar "{{ termino }}"</button>
    </div>
  </p-card>
</div>

<div *ngIf="hayError" class="alert alert-danger">


  <p-message  severity="error"  text="No se encontró nada con el termino {{ termino }}" >
    
  </p-message>
</div>

<hr />
<div class="p-grid">
  <div *ngIf="paises.length > 0">
    <p-card>
      <div class="p-col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
      </div>
    </p-card>
  </div>
</div>
