
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      label="Por País"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-mr-1"

    ></button>
    <button
      pButton
      label="Por Región"
      routerLink="region"
      routerLinkActive="active"
      class="p-mr-1"
     
    ></button>
    <button
      pButton
      label="Por Capital"
      routerLink="capital"
      routerLinkActive="active"
      class="p-mr-1 "
  
    ></button>
 
  </div>
</p-toolbar>
  
    



