<!-- 
<table class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index" class="animate__animated animate__fadeInUp" >
            <td> {{i + 1}} </td>
            <td>
                <img class="small-flag" [src]="pais.flag">
            </td>
            <td> {{pais.capital}}, {{pais.name}} </td>
            <td> {{pais.population | number }}</td>
            <td>
                <a [routerLink]="['/pais', pais.alpha2Code]"> Ver... </a>
            </td>
        </tr>
    </tbody>
</table> -->

<p-table [value]="paises">
  <ng-template pTemplate="header">
    <tr>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Población</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pais>
    <tr>
      <td>
        <img width="40" [src]="pais.flag" alt="" />
      </td>
      <td>{{ pais.capital }}, {{ pais.name }}</td>
      <td>{{ pais.population | number }}</td>
      <td>
        <button
          pButton
          class="p-button-link"
          [routerLink]="['/pais', pais.alpha2Code]"
        >
          Ver...
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
