<div *ngIf="!pais; else divPais" class="alert alert-info">
  Espere por favor...
</div>

<ng-template #divPais>
  <div class="p-grid">
    <div class="p-col-12">
      <h1>
         {{pais.name}} 
      </h1>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-3 p-md-5">
      <p-card header="Bandera">
        <img [src]="pais.flag" width="400" class="img-thumbnail" />
      </p-card>
    </div>

    <div class="p-col-4">
      <p-fieldset legend="Información" [toggleable]="true">
        <li><strong>Capital:</strong> {{ pais.capital }}</li>
        <li><strong>Población:</strong> {{ pais.population | number }}</li>
        <li><strong>Código numérico:</strong> {{ pais.numericCode }}</li>
        <li><strong>Código alpha3:</strong> {{ pais.alpha3Code }}</li>
      </p-fieldset>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <h3>Traducciones</h3>
      <p-tag
        [value]="pais.translations.de"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.es"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.fr"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.ja"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.it"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.br"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.pt"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.nl"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.hr"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
      <p-tag
        [value]="pais.translations.fa"
        styleClass="p-mr-1"
        severity="info"
        [rounded]="true"
      ></p-tag>
    </div>
  </div>

  <!-- <pre class="mt-5">
        {{ pais | json }}
    </pre> -->
</ng-template>
